#box
  #box_title Moje dane
  #box_content
    %table
      %tr.even
        %th.form_title Imię i nazwisko
        %td.form_content=h @user.name + " " + @user.lastname
      %tr.odd
        %th.form_title Login
        %td.form_content=h @user.login
      %tr.even
        %th.form_title Email
        %td.form_content=h @user.email
      - if @user == current_user
        %tr.odd
          %th.form_title Należysz do grup
          %td.form_content=h current_user.roles.map(&:name).map{|i| human_role(i)}.sort.join(", ")
    %br
    = link_to 'Wstecz', :back
    - if @user == current_user
      |
      = link_to 'Edytuj informacje', edit_users_path
