#box
  #box_title
    Informacje
  #box_content
    %p
      Witaj w Wirtualnym Dzienniku, systemie wspomagającym administrację szkolną
    %p
      Wybierz odpowiedni dział z menu po lewej stronie, by przejść dalej.

#box
  #box_title
    Autorzy
  #box_content
    %p Autorami tego skromnego systemu są:
    %p
      %b Bartłomiej Kobyłecki
      %br
      %b Karol Bajko
