<div id="box">
  <div id="box_title">Informacje</div>
  <div id="box_content">
    
    <p>Witaj w Wirtualnym Dzienniku, systemie wspomagającym administrację szkolną</p>
    <p>Wybierz odpowiedni dział z menu po lewej stronie, by przejść dalej.</p>
    
</div></div>

<div id="box">
  <div id="box_title">Autorzy</div>
  <div id="box_content">
    
    <p>Autorami tego skromnego systemu są:</p>
    <p>
      <b>Bartłomiej Kobyłecki</b> (bko)<br>
      <b>Karol Bajko</b> (qarol)
    </p>
    
</div></div>
